@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Bitter", serif;
  font-family: "Montserrat", sans-serif; */
  font-family: "Roboto Slab", serif;
  /* font-family: "Source Serif Pro", serif; */
}
.lead {
  background: url(./assets/image/robot-4120890_1280.jpg);
  background-attachment: fixed;
}

.lead-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
}
.personal-detail-title:after {
  content: ":";
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
}
